{% load static %}
{% load encyclopedia_extras %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Fix for mobile viewport -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<base href="/">

		<title>
		{% block title %}
		{% endblock %}
		</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>
		<link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet" />
		<link href="{% static 'encyclopedia/404.css' %}" rel="stylesheet" />
		{% block style %} {% endblock style %}
	</head>

	<body>
		{% block body %}
		<div class="row no-gutters">
			<div class="sidebar col-lg-2 col-md-3">
				<div class="side-container pt-3 px-2">
				<h2 class="pl-2">Wiki</h2>
				<form class="search-form" action="/wiki" method="GET">
					<div class="form-group">
						<input
							list="wiki-list"
							class="search"
							type="text"
							name="search"
							placeholder="Search Encyclopedia"
						/>
						<datalist id="wiki-list">
							{% for entry in entries %}
							<option value="{{entry|safe}}"></option>
							{% endfor %}
						</datalist>
					</div>
				</form>
				{% block nav %} 
				<ul>
					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'update_entry' %}">Create New Page</a></li>
					<li><a href="{% url 'random_entry' %}">Random Page</a></li>
				</ul>
				{% endblock %}
				</div>
			</div>
			<div class="main col-lg-9 col-md-8">
				<!-- Django alert message -->
				<div class="message-wrapper w-100 z-100 position-absolute">
					{% if messages %}
						<ul class="messages">
							{% for message in messages %}
								<li>
								{% if message.tags == 'error' %}
									<div class="alert alert-danger alert-dismissible fade show py-2" id="alert_message" role="alert" >
								{% else %}
									<div class="alert alert-{{message.tags}} alert-dismissible fade show py-2" id="alert_message"  role="alert">
									{% endif %}

										{{ message }}
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
								</li>
								{% endfor %}
						</ul>
			{% endif %}
			</div>

			<div  class="main-container w-100">
			{% block body_content %} 
			{% endblock %}
			</div>
		</div>
		</div>
		{% endblock %}
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
 		 integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  	integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		<script src="{% static 'encyclopedia/main.js' %}"></script>
	</body>
</html>
